/* ############################## Cards ############################## */

.res-card {
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.308);
  margin-bottom: 1rem;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
}