/* ############################## Tags ############################## */

.res-tag {
  display: inline-block;
  padding: 2px;
  padding-inline-start: 5px;
  padding-inline-end: 5px;
  border-radius: 10px;
  text-align: center;
  white-space: nowrap;
  font-weight: 600;
  font-size: 90%;
}
