/* ############################## Basic Styles ############################## */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #444;
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px #ddd solid;
}

ul,
dl,
ol {
  margin-top: 0;
  margin-bottom: 1rem;
}

blockquote {
  margin: 0;
  margin-bottom: 1rem;
  padding-inline-start: 10px;
  padding-inline-end: 5px;
  border-inline-start-width: 5px;
  border-inline-start-style: solid;
  font-size: 1rem;
  padding-top: 5px;
  padding-bottom: 5px;
}

.res-blockquote {
  background-color: #fcfcfc;
  border-inline-color: #ddd;
  font-style: italic;
}

.res-blockquote-info {
  margin: 10px;
  font-style: normal;
  color: #aaa;
}

a {
  color: lighten($blue, 10);
  text-decoration: none;
  outline: none;

  &:hover,
  &:active {
    color: darken($blue, 10);
    text-decoration: underline;
    outline: none;
  }
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 90%;
}

button,
.res-btn {
  cursor: pointer;
}

table {
  text-align: start;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
}

table th {
  text-align: start;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

input,
button,
select,
textarea {
  font: inherit;
  line-height: inherit;
  color: inherit;
}

textarea {
  resize: vertical;
  min-height: 200px;
}

fieldset {
  margin-bottom: 1rem;
}

legend {
  padding-inline: 10px;
  background-color: #fafafa;
}

[hidden] {
  display: none;
}

.res-flex {
  display: flex;
  flex-wrap: wrap;
}

.res-close {
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s all ease-in-out;

  &:hover {
    color: rgba(#000, 0.3);
  }
}

.res-overlay {
  transform: scale(0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.3s all ease-in-out;
  z-index: 999;
}

.res-no-margin {
  margin: 0 !important;
}

.res-no-border {
  border: none !important;
}

.res-no-padding {
  padding: 0 !important;
}

.res-bordered {
  border: 1px #ddd solid !important;
}
