/* ############################## Links ############################## */

a.res-muted-link {
  color: inherit;
  text-decoration: none;
}

@each $color_name, $color_value in $colors {

  // Change Link Hover Color According To Color Classes
  a.res-txt-#{$color_name}:hover {
    color: darken($color_value, 20);

    &::after {
      border-color: darken($color_value, 20);
    }
  }

}

a.res-link-1 {
  position: relative;
  text-decoration: none;
  transition: .3s all ease-in-out;

  &::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    border-bottom: 2px $blue solid;
    opacity: 0;
    transition: .3s all ease-in-out;
  }

  &:hover::after {
    opacity: 1;
    bottom: 0;
  }
}

a.res-link-2 {
  position: relative;
  text-decoration: none;
  transition: .3s all ease-in-out;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px $blue solid;
    border-radius: 3px;
    transform: scale(1.2);
    opacity: 0;
    transition: .3s all ease-in-out;
  }

  &:hover::after {
    opacity: 1;
    transform: scale(1);
  }
}

a.res-link-3 {
  position: relative;
  text-decoration: none;
  transition: .3s all ease-in-out;

  &::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 5px;
    transform: translate(100%);
    border-bottom: 5px $blue dotted;
    opacity: 0;
    transition: .3s all ease-in-out;
  }

  &:hover::after {
    opacity: 1;
    width: 30px;
  }
}

a.res-link-4 {
  position: relative;
  text-decoration: none;
  transition: .3s all ease-in-out;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: -2px;
    width: 100%;
    height: 0;
    border-bottom: 1px $blue solid;
    transition: .3s all ease-in-out;
  }

  &:hover::after {
    top: 100%;
  }
}
